!!!5
html
  head
    title Amoebadome: The Microbial Deathmatch!
    link(rel="stylesheet" type="text/css" href="css/main.css")
    script(data-main="js/app.js", src="vendor/require.js")
  body
    div(id="amoeba")
      div(id="interface")
    script(type="game/interface", name="HUD").
      <div data-bind="playerData" class="hud">
        <div class="health-container">
          <div class="health-bar" data-property="health as width" data-watch>
            <h3 data-property="health" data-watch></h3>
          </div>
        </div>
        <div class="point-counter">
          <h3 data-property="points" data-watch></h3>
        </div>
      </div>
