<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>learningthree.js boiler plate for three.js</title>
    <meta name="description" content="">
    <meta name="author" content=""><title>learningthree.js boiler plate for three.js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    
    <script src="vendor/Prototype.js"></script>
    <script src="vendor/jQuery.js"></script>
    <script src="vendor/cannon/Cannon.js"></script>
    <script src="vendor/three/Three.js"></script>
    <script src="vendor/three/Detector.js"></script>
    <!-- https://github.com/mrdoob/stats.js -->
    <script src="vendor/three/Stats.js"></script>
    <script src="vendor/threex/THREEx.WindowResize.js"></script>
    <script src="vendor/threex/THREEx.KeyboardState.js"></script>
    <script src="vendor/EventEmitter.js"></script>
    <script src="vendor/Underscore.js"></script>
    <script src="vendor/dat.gui.min.js"></script>
    <script src="js/physics.js"></script>
    <script src="js/input.js"></script>
    <script src="js/game.js"></script>
    <script src="js/component.js"></script>
    <script src="js/entity.js"></script>
    <script src="js/prefab.js"></script>
    <script src="js/components/controller.js"></script>
    <script src="js/components/rigidbody.js"></script>
    <script src="js/components/follow.js"></script>
    <script src="js/components/interface.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/main.js"></script>

    <link  href="css/main.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <!--<link href="/css/main.css" rel="stylesheet">-->

  </head>
  <body>
    <%- body %>
  </body>
</html>